@use "../vars.scss";

.view-section {
  padding: 16px;

  &__back-link {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 12px;
    padding: 0;
    font-size: 9px;
    color: #444;

    &:hover {
      color: var(--primary);
    }
  }
}
.profile-card {
  --lvl-color: var(--red);
  @each $lvl, $color in vars.$lvl_colors {
    &.lvl-#{$lvl} {
      --lvl-color: #{$color};
    }
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
  }

  &__user-info {
    display: flex;
    flex-direction: column;
  }

  &__nickname {
    font-size: 20px;
    font-weight: 800;
  }

  &__level-label {
    font-size: 10px;
    font-weight: 600;
    color: var(--lvl-color);
    text-transform: uppercase;

    a {
      color: var(--lvl-color);
    }
  }

  &__rating {
    text-align: right;
  }

  &__elo-value {
    font-size: 32px;
    font-weight: 800;
    color: var(--lvl-color);
    line-height: 1;
  }

  &__elo-label {
    font-size: 9px;
    color: #444;
    font-weight: 500;
    margin-top: 4px;
  }

  &__stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1px;
    border: 1px solid var(--brd);
    background-color: var(--brd);

    margin-bottom: 25px;
  }

  &__stat-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg);
    padding: 10px;
  }

  &__stat-lbl {
    font-size: 9px;
    color: #444;
    margin-bottom: 4px;
  }

  &__stat-val {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__progress {
    margin-top: 25px;
    padding: 12px;
    background: rgba(255, 139, 82, 0.05);
    border-left: 2px solid var(--lvl-color);
  }

  &__progress-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    margin-bottom: 8px;
  }

  &__progress-title {
    color: #444;
    letter-spacing: 0.5px;
  }

  &__progress-amount {
    font-weight: 800;
  }

  &__progress-track {
    height: 2px;
    background: #222;
    width: 100%;
    overflow: hidden;
  }

  &__progress-fill {
    height: 100%;
    background: var(--lvl-color);
    transition: width 0.3s ease;
  }
}
